body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#expenseForm{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 5% 25%;
}

#expenseForm form{
  display: flex;
  flex-direction: column;
  margin: 0 35%;
}

/* Budget Page Styling */
#budgetBody {
  display: flex;
  justify-content: space-evenly;
}

h2{
  text-align: center;
}